# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python_workspace\digitalPark_interfaceTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
